:root {
    --color-primary: #d11d22;
    --color-text-dark: #333;
    --color-text-light: #fff;
    --color-bg-light: #fff;
    --color-bg-app: #e8e8e8;
    
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    font-family: var(--font-family);
}

body {
    background-color: rgb(21, 21, 21);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.contenedorPrincipal {
    display: flex;
    width: 90%;
    max-width: 1200px;
    height: 90%;
    
    background-color: var(--color-bg-light);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    overflow: hidden;
}

.barraLateral {
    width: 200px;
    min-width: 200px;
    background-color: var(--color-bg-light); 
    border-right: 1px solid #ccc;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.logo {
    display: flex;
    align-items: center;
    padding: 0 20px 10px 20px;
    font-weight: bold;
    color: var(--color-primary);
    
    margin-bottom: 10px;
}
.iconoLogo {
    margin-right: 10px;
}
.iconoLogo img {
    width: 30px; 
    height: 30px;
}

.seccionBarra {
    font-size: 0.8em;
    font-weight: 700;
    
    color: #737373;
    padding: 0px 40px;
    margin-top: 20px;
}
.barraNavegable ul {
    list-style: none;
}

.itemBarra, .itemBarraActivo {
    display: flex;
    align-items: center;
    padding: 10px 40px;
    cursor: pointer;
    transition: background-color 0.35s;
}

.itemBarra a, .itemBarraActivo a {
    text-decoration: none;
    color: black;
    font-size: 0.95em;
    font-weight: 600;
}
.itemBarra:hover {
    background-color: #f0f0f0;
}

.itemBarraActivo {
    background-color: #f7f7f7; 
    position: relative;
}
.itemBarraActivo a {
    color: var(--color-primary); 
    font-weight: 700;
}
.itemBarraActivo::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    background-color: var(--color-primary); 
    border-radius: 0 2px 2px 0;
}

.iconoContenedor {
    margin-right: 10px;
    width: 20px; 
    text-align: center;
    height: 20px; 
}
.iconoContenedor img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cerrarDiaBoton {
    display: flex;
    align-items: center;
    padding: 10px 40px;
    border-top: 0px solid #eee;
    margin-top: auto;
    cursor: pointer;
    font-size: 0.9em;
    color: var(--color-text-dark);
    transition: background-color 0.35s;
}

.cerrarDiaBoton:hover {
  background-color: #f0f0f0;
}

.contenedorDerecho {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: var(white);
}

.controlesUsuario {
  display: flex;  
  align-items: center;
  gap: 15px;
}
.cabezera {
    flex-shrink: 0;
    padding: 10px 20px;
    background-color: var(--color-bg-light); 
    border-bottom: 2px solid #ccc; 
    display: flex;
    justify-content: flex-end; 
    align-items: center;
}

.profile-image {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;  
}

.cuerpo {
    flex-grow: 1;
    display: flex;
    flex-direction: column; 
    padding: 20px 40px;
    overflow-y: hidden;
}

.cabezeraCuerpo {
    flex-shrink: 0; 
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenido {
    flex-grow: 1; 
    background-color: #f1f1f1; 
    padding: 20px;
    overflow-y: auto;
}